[Unit]
Description=SONORO WiFi recover from Hotspot fallback
After=NetworkManager.service
Wants=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/wifi-recover.sh
