[Unit]
Description=SONORO WiFi Recover — cada 2 min

[Timer]
OnBootSec=2min
OnUnitActiveSec=2min
Unit=wifi-recover.service

[Install]
WantedBy=timers.target
